<div class="container px-0 app">
  <nav class="fixed-top navbar navbar-light navbar-expand-md bg-faded px-2">
    <div [routerLink]="['/home']" class="navbar-brand">
      <img alt="gratis-brocki-logo" src="assets/good.webp" width="50px"> Gratis-Brocki
    </div>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <!--
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']">Start Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/user']">User</a>
        </li>
      </ul>
      -->
      <form class="form-inline ms-auto">
        <button class="btn btn-danger" type="button"
                [routerLink]="['/item/creation']">New Item</button>
        <button class="btn btn-secondary" type="button"
                [routerLink]="['/signup']">Signup</button>
        <button class="btn btn-primary ms-1" type="button"
                [routerLink]="['/login']">Login</button>
      </form>
    </div>
  </nav>
  <main> <!-- class="px-3 mt-4 main"> -->


    <router-outlet></router-outlet>

  </main>
  <footer class="fixed-bottom px-3 mt-4 bg-light">
    <section class="container d-flex justify-content-center justify-content-lg-between p-4
border-bottom" >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Have some fun...</span>
      </div>
      <!-- Left -->
      <!-- Right -->
      <div>
        <a href="https://www.youtube.com/watch?v=LGlyKv_XNXM" target="_blank"
           class="me-4 text-reset">
          <i class="fa fa-youtube-play"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  </footer>
</div>
