.btn-item-update {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}
.textarea {
  height: 15vh;
  width: 100%;
}
label {
  font-size: 14px;
}

.text-danger {
  font-size: 12px;
}
