@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/css/font-awesome.css';
$fa-font-path : '../node_modules/font-awesome/fonts';

body {
  font-size: 18px;
  line-height: 1.58;
  color: #333;
}
.component-title {
  color: #228899;
}
.sub-para {
  font-size: small;
}
.item-info {
  margin-bottom: 6px;
}

