<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <h5 class="card-title text-center mb-5 fw-light fs-5">Update Item</h5>
          <!-- Item Update Form -->
          <form novalidate
                (ngSubmit)="onSubmit()"
                #f="ngForm">
            <div class="form-floating mb-3">
              <input type="text"
                     class="form-control"
                     id="title"
                     autocomplete="on"
                     name="title"
                     [(ngModel)]="model.title"
                     required
                     #title="ngModel">
              <div class="form-control-feedback text-danger"
                   *ngIf="title.errors && (title.dirty || title.touched)">
                <p *ngIf="title.errors?.['required']">Title is required</p>
              </div>
              <label for="title">Title</label>
            </div>

            <div class="form-floating mb-3">
              <textarea class="form-control textarea"
                        id="description"
                        autocomplete="on"
                        name="description"
                        [(ngModel)]="model.description"
                        required
                        #description="ngModel">
                        </textarea>
              <div class="form-control-feedback text-danger"
                   *ngIf="description.errors && (description.dirty || description.touched)">
                <p *ngIf="description.errors?.['required']">Description is required</p>
              </div>
              <label for="description">Description</label>
            </div>


            <div class="form-floating mb-3">
              <input type="text"
                     class="form-control"
                     id="zipcode"
                     autocomplete="on"
                     name="zipcode"
                     [(ngModel)]="model.zipCode"
                     required
                     #zipcode="ngModel">
              <div class="form-control-feedback text-danger"
                   *ngIf="zipcode.errors && (zipcode.dirty || zipcode.touched)">
                <p *ngIf="zipcode.errors?.['required']">Zip code is required</p>
              </div>
              <label for="zipcode">Zip code</label>
            </div>

            <div class="form-floating mb-3">
              <select class="form-select"
                      id="condition"
                      autocomplete="on"
                      name="condition"
                      [(ngModel)]="model.condition"
                      required
                      #condition="ngModel">
                <option selected></option>
                <option value="USED">Used</option>
                <option value="NEW">New</option>
                <option value="DEFECTIVE">Defective</option>
              </select>
              <div class="form-control-feedback text-danger"
                   *ngIf="condition.errors && (condition.dirty || condition.touched)">
                <p *ngIf="condition.errors?.['required']">Condition is required</p>
              </div>
              <label for="condition">Condition</label>
            </div>

            <div class="form-floating mb-3">
              <select class="form-select"
                      id="category"
                      autocomplete="on"
                      name="category"
                      [(ngModel)]="model.category"
                      required
                      #category="ngModel">
                <option selected></option>
                <option value="CHILDREN">Children</option>
                <option value="CLOTHING">Clothing</option>
                <option value="GARDEN">Garden</option>
                <option value="HOUSEHOLD">Household</option>
                <option value="SPORT">Sport</option>
                <option value="VEHICLE">Vehicle</option>
                <option value="OTHER">Other</option>
              </select>
              <div class="form-control-feedback text-danger"
                   *ngIf="category.errors && (category.dirty || category.touched)">
                <p *ngIf="category.errors?.['required']">Category is required</p>
              </div>
              <label for="category">Category</label>
            </div>

            <!--<div class="mb-3">
              <label for="picture" class="form-label">Replace picture</label>
              <input type="file"
                     class="form-control"
                     id="picture"
                     name="picture"
                     [(ngModel)]="model.pictures"
                     required
                     #picture="ngModel">
              <div class="form-control-feedback text-danger "
                   *ngIf="picture.errors && (picture.dirty || picture.touched)">
                <p *ngIf="picture.errors?.['required']">Picture is required</p>
              </div>
            </div>-->

            <div class="d-grid">
              <button type="submit"
                      class="btn btn-lg btn-primary btn-item-update text-uppercase fw-bold mb-2"
                      [disabled]="f.invalid">Update
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

